<button class="button" id="glenn_button" type="button"
  style="margin: 12px 0; background-color: {{ color }}; width:100%;">
 {{ text }}
</button>

<script>
const produdctId = {{ product_item.selected_or_first_available_variant.id | json }}
console.log(produdctId)

const formData = {
  items: [{
    id:  produdctId,
    quantity: 1
  }]
};

document.getElementById('glenn_button').addEventListener('click', function() {
  fetch(window.Shopify.routes.root + 'cart/add.js', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(formData)
  })
  .then(response => response.json())
  .then(data => console.log('Added to cart:', data))
  .catch(error => console.error('Error:', error));
}); 
</script>