{% comment %} <div class="product_accordion_container" x-data="{isOpen: false}">
    <div x-on:click="isOpen = !isOpen" class="product_accordion_content">
        <span  class="product_accordion_title ">{{ title }}</span>
    </div>
    <div class="product_accordion_description"x-cloak x-show="isOpen">{{ description }}</div>
    
</div> {% endcomment %}

<details class="product_accordion_container">
  <summary style="display:flex;" class="product_accordion_content">{{ title }}<div style="margin-left:auto;">+</div></summary>
  <p class="product_accordion_description">{{description }}</p>
</details>

<style>
  .product_accordion_container {
    width:100%;
  }

  .product_accordion_content {
    display:flex;
    cursor:pointer;
  }

  .product_accordion_content{
    position:relative;
    padding: 14px 0;
    }

  .product_accordion_content::after {
    content: "";
    width:100%;
    height:0.5px;
    transform:scaleY(0.25);
    background-color:#000;
    position:absolute;
    bottom:0;
  }

  .product_accordion_description {
    padding-bottom:14px;
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }

}
</style>
