{{ 'main-product-glenn.css' | asset_url| stylesheet_tag}}



<div  style="background-color: {{ section.settings.section_color }}">
    <div class="main-product-container">


    {%render 'images-grid': image:product.images  %}
    <div class="main-product-content-container">
        <span class="category-subtitle">{{ product.metafields.custom.category_product_subtitle }}</span>

        {% for block in section.blocks %}
            <div {{ block.shopify_attributes }}>
            {% case block.type %}
            {%  when "product_title" %}
                {% render 'product-title', product_title: product.title %}

              {% when "usp-section" %}
                {% render 'usps', 
                    usp_caption1: block.settings.usp_caption1,
                    usp_caption2: block.settings.usp_caption2,
                    usp_caption3: block.settings.usp_caption3,
                    usp_title1: block.settings.usp_title1,
                    usp_title2: block.settings.usp_title2,
                    usp_title3: block.settings.usp_title3,
                    svg_icon1: block.settings.svg_icon1,
                    svg_icon2: block.settings.svg_icon2,
                    svg_icon3: block.settings.svg_icon3,
                 %}

                {% when 'product_description'%}
                    {% render 'product-description', product_description: product.description %}

                {% when 'product_pricing'%} 
                    {% render 'main-product-pricing', product_main_price: product.price ,product_compare_price:  product.compare_at_price  %}

            {% when 'shipping_block' %}
                {% render 'free-shipping-block'.
                    svg_icon: block.settings.svg_icon, 
                    block_text: block.settings.block_text,
                    text_color: block.settings.text_color,
                    background_color: block.settings.background_color
                %}

            {%- when 'buy_buttons' -%}
                {%- render 'buy-buttons', product: product, form_id: product_form_id, show_payment_button: block.settings.show_payment_button, button_size: 'lg' -%}

            {% when "single_usp" %}
                {% render 'single-usp', title: block.settings.title, usp: block.settings.usp %}

            {% endcase %}
        </div>
    {% endfor %}
</div>

       


        

</div>
</div>

{% schema %}
{
    "name": "Main product Glenn",
    "tag": "section",
    "class": "main-product-glenn",
    "settings": [
        {
            "type": "color",
            "id": "section_color",
            "label": "Background Color"
        }
    ],
    "blocks": [
        {
        "type": "@app"
        },
        {
        "type": "usps",
        "name": "USPs",
        "settings": [
            {
                "type": "text",
                "id": "usp_caption1",
                "label": "USP Text1"
            },
            {
                "type": "text",
                "id": "usp_title1",
                "label": "USP Title 1"
            },
            {
                "type": "html",
                "id": "svg_icon1",
                "label": "SVG Icon1"
            },
            {
                "type": "text",
                "id": "usp_caption2",
                "label": "USP Text2"
            },
            {
                "type": "text",
                "id": "usp_title2",
                "label": "USP Title 2"
            },
            {
                "type": "html",
                "id": "svg_icon2",
                "label": "SVG Icon2"
            },
            {
                "type": "text",
                "id": "usp_caption3",
                "label": "USP Text3"
            },
            {
                    "type": "text",
                    "id": "usp_title3",
                    "label": "USP Title 3"
            },
            {
                "type": "html",
                "id": "svg_icon3",
                "label": "SVG Icon3"
            },
        ]
        },
        {
            "name":"Product title",
            "type": "product_title",
        },
        {
            "name":"Product description",
            "type": "product_description",
        },
        {
            "name":"Product pricing",
            "type": "product_pricing",
        },
        {
            "name": "Shipping block",
            "type": "shipping_block",
            "settings": [
                {
                    "type": "html",
                    "id": "svg_icon",
                    "label": "SVG Icon"
                },
                {
                    "type": "text",
                    "id": "block_text",
                    "label": "Text"
                },
                {
                    "type": "color",
                    "id": "text_color",
                    "label": "Text color"
                },
                {
                    "type": "color",
                    "id": "background_color",
                    "label": "Background color"
                }
            ]
        },
        {
            "name": "Single usp",
            "type": "single_usp",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Dikgedrukt stuk"
                },
                {
                    "type": "text",
                    "id": "usp",
                    "label": "USP"
                }
            ]
        },
        {
            "type": "buy_buttons",
            "name": "Buy buttons",
            "limit": 1,
            "settings": [
              {
                "type": "checkbox",
                "id": "show_payment_button",
                "label": "Show dynamic checkout button",
                "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
                "default": true
              },
              {
                "type": "checkbox",
                "id": "show_gift_card_recipient",
                "label": "Show recipient information form for gift cards",
                "info": "Allow buyers to send gift cards along with a personal message. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/add-gift-card-recipient-fields)",
                "default": true
              },
              {
                "type": "color",
                "id": "atc_button_background",
                "label": "Add to cart background"
              },
              {
                "type": "color",
                "id": "atc_button_text_color",
                "label": "Add to cart color"
              },
              {
                "type": "color",
                "id": "payment_button_background",
                "label": "Buy now button background"
              },
              {
                "type": "color",
                "id": "payment_button_text_color",
                "label": "Buy now button color"
              }
            ]
          },

    ],
    "presets": [
        {
        "name": "Main product Glenn"
        }
    ],
    "enabled_on": {
        "templates": ["product"]
    }
}
{% endschema %}