{{ 'main-product-glenn.css' | asset_url| stylesheet_tag}}



<div class="main-product-container">
    <div class="main-product-image-container">
        {%  for image in product.images  %}
            {{ image | image_url: width: 1080 | image_tag: alt:image.alt, loading: "lazy", class:"main-product-image" }}
        {% endfor %} 
    </div>
    <div class="main-product-content-container">
        <span class="category-subtitle">{{ product.metafields.custom.category_product_subtitle }}</span>

        {% for block in section.blocks %}
            {% case block.type %}
            {%  when "product_title" %}
                {% render 'product-title', product_title: product.title %}

              {% when "usp-section" %}
                {% render 'usps', 
                    usp_caption1: block.settings.usp_caption1,
                    usp_caption2: block.settings.usp_caption2,
                    usp_caption3: block.settings.usp_caption3,
                    usp_title1: block.settings.usp_title1,
                    usp_title2: block.settings.usp_title2,
                    usp_title3: block.settings.usp_title3,
                    svg_icon1: block.settings.svg_icon1,
                    svg_icon2: block.settings.svg_icon2,
                    svg_icon3: block.settings.svg_icon3,
                 %}

                {% when 'product_description'%}
                    {% render 'product-description', product_description: product.description %}

                {% when 'product_pricing'%} 
                    {% render 'main-product-pricing', product_main_price: product.price ,product_compare_price:  product.compare_at_price  %}

            {% when 'shipping_block' %}
                {% render 'free-shipping-block'.
                    svg_icon: block.settings.svg_icon,
                    block_text: block.settings.block_text,
                    text_color: block.settings.text_color,
                    background_color: block.settings.background_color
                %}

            {% when 'buy_button' %}
                {% render 'buy-button-glenn', button_color: block.settings.button_color %}

            {% when "single_usp" %}
                {% render 'single-usp', title: block.settings.title, usp: block.settings.usp %}

            {% endcase %}
        {% endfor %}

       


        

</div>
</div>

{% schema %}
{
    "name": "Main product Glenn",
    "tag": "section",
    "class": "main-product-glenn",
    "settings": [],
    "blocks": [
        {
        "type": "@app"
        },
        {
        "type": "usps",
        "name": "USPs",
        "settings": [
            {
                "type": "text",
                "id": "usp_caption1",
                "label": "USP Text1"
            },
            {
                "type": "text",
                "id": "usp_title1",
                "label": "USP Title 1"
            },
            {
                "type": "html",
                "id": "svg_icon1",
                "label": "SVG Icon1"
            },
            {
                "type": "text",
                "id": "usp_caption2",
                "label": "USP Text2"
            },
            {
                "type": "text",
                "id": "usp_title2",
                "label": "USP Title 2"
            },
            {
                "type": "html",
                "id": "svg_icon2",
                "label": "SVG Icon2"
            },
            {
                "type": "text",
                "id": "usp_caption3",
                "label": "USP Text3"
            },
            {
                    "type": "text",
                    "id": "usp_title3",
                    "label": "USP Title 3"
            },
            {
                "type": "html",
                "id": "svg_icon3",
                "label": "SVG Icon3"
            },
        ]
        },
        {
            "name":"Buy button",
            "type": "buy_button",
            "settings": [
                {
                    "type": "color",
                    "id": "button_color",
                    "label": "Button color"
                }
            ]
        },
        {
            "name":"Product title",
            "type": "product_title",
        },
        {
            "name":"Product description",
            "type": "product_description",
        },
        {
            "name":"Product pricing",
            "type": "product_pricing",
        },
        {
            "name": "Shipping block",
            "type": "shipping_block",
            "settings": [
                {
                    "type": "html",
                    "id": "svg_icon",
                    "label": "SVG Icon"
                },
                {
                    "type": "text",
                    "id": "block_text",
                    "label": "Text"
                },
                {
                    "type": "color",
                    "id": "text_color",
                    "label": "Text color"
                },
                {
                    "type": "color",
                    "id": "background_color",
                    "label": "Background color"
                }
            ]
        },
        {
            "name": "Single usp",
            "type": "single_usp",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Dikgedrukt stuk"
                },
                {
                    "type": "text",
                    "id": "usp",
                    "label": "USP"
                }
            ]
        },
    ],
    "presets": [
        {
        "name": "Main product Glenn"
        }
    ],
    "enabled_on": {
        "templates": ["product"]
    }
}
{% endschema %}