.image-carrousel {
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 20px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding: 64px 0 64px 0;
  cursor: pointer;
  position: relative;
  overflow: visible;
}

.swiper-slide {
  height: auto;
  width: 100%;
  border-radius: 20px;
  padding: 0 10px;
}

.swiper-slide img {
  transform: scale(0.9);
  transition: all 0.25s ease-in-out;
  object-fit: cover;
  border-radius: 20px;
}

.swiper-pagination-bullet {
  background-color: #000;
}

.swiper-slide-active img {
  transform: scale(1.1);
}

.swiper-wrapper {
  padding-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .image-carrousel-title {
    max-width: 275px;
    margin: auto;
  }
}
