.main-product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  padding: 2.5vh 5vw;
  max-width: 120rem;
  margin: auto;
  position: relative;
}

.main-product-content-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 10vh;
  align-self: start;
  max-width: 35rem;
}

.category-subtitle {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 0.8rem;
  margin-bottom: 12px;
}

@media screen and (max-width: 1024px) {
  .main-product-container {
    gap: 60px;
  }
}

@media screen and (max-width: 768px) {
  .main-product-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px 16px 0 16px;
  }

  .main-product-content-container {
    max-width: 100%;
  }
}
